<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      
    </ion-buttons>
    <ion-title>Login Page</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-container">
    <h2>LOGIN</h2>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-button expand="block" fill="clear" class="forgot-password">
      Forgot your password?
    </ion-button>

    <ion-button expand="block" color="warning">SIGN IN</ion-button>

    <div class="separator">
      <span>New Customer?</span>
      <ion-button fill="clear" color="warning">Signup</ion-button>
    </div>

    <ion-button expand="block" color="warning">Create an Account</ion-button>
  </div>
</ion-content>
