.login-container {
    text-align: center;
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .forgot-password {
    font-size: 14px;
    color: var(--ion-color-medium);
  }
  
  .separator {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 14px;
  }
  